body {
  background: lightskyblue;
  font-family: Arial, Helvetica, sans-serif;
}

#main {
  background: lightpink;
  margin: 50px auto;
  padding: 20px 100px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 20px 20px 0px 1px navy;
}

select {
  border: 1px solid gray;
  border-radius: 5px;
  border: none;
  height: 40px;
  width: 140px;
}

