body {
  background: lightgreen;
  background-image: url('https://cdn.dribbble.com/users/1687/screenshots/2908169/font-bg.png');
  display: block;
  justify-content: center;
  align-items: flex-start;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input {
  display: block;
  border-radius: 5px;
}

form {
  display: block;
}

button {
  background: gold;
  margin: 10px auto;
  padding: 10px;
  border-radius: 10px;
}

div {
  display: block;
  padding: 10px 0;
}

iframe {
  margin: 5px;
  border-radius: 5px;
}