body {
  font-family: 'Quicksand', sans-serif;
  margin: 1%;
}

h1 {
  color: limegreen;
}

a {
  text-transform: uppercase;
  text-decoration: none;
  margin: 5px;
}

tr:nth-child(even) {
  background-color: lightgray;
}

tr:hover {
  background-color: lightgoldenrodyellow;
}

th {
  color: white;
  background-color: black;
}

#name {
  width: 80%;
}

.price {
  width: 20%;
  text-align: center;
}